{#
| component.heading | string     | Section title
| component.tag     | string     | Small badge above title
| component.faqs    | collection | list of {faqs.question, faqs.answer}
#}
<section class="s-block nour-faq container">
  {% if component.tag %}
    <span class="nour-tag">{{ component.tag }}</span>
  {% endif %}
  <h2 class="nour-section-title">{{ component.heading | default('أسئلة شائعة') }}</h2>
  <div class="nour-faq__grid">
    {% for faq in component.faqs %}
      <div class="nour-faq__item" onclick="this.classList.toggle('open')">
        <div class="nour-faq__q">
          {{ faq['faqs.question'] | default(faq.question) }}
          <span class="nour-faq__plus">+</span>
        </div>
        <div class="nour-faq__a">{{ faq['faqs.answer'] | default(faq.answer) }}</div>
      </div>
    {% endfor %}
  </div>
</section>
